{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Verification</h1>
    </div>

        {% if matching_result %}
      <div class="row">
        <div class="col-xs-6 col-md-3 img-div">
            <h1>{{ celeb_name }}</h1>
        </div>
      </div>
    {% endif %}

    <div class="row">
        <form action="{{ url_for('upload2') }}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <p class="help-block">Upload two image to compare the similarity.</p>
            <input type="file" id="images" name="images" accept="image/*" multiple>
            </br>
            <input type="file" id="images" name="images" accept="image/*" multiple>
            </br>
            <input type="submit" value="Upload" class="btn btn-success">
          </div>
        </form>
    </div>

    <div class="row">
    </div>
    {% if image_result %}
      <div class="row">
        <div class="col-xs-6 col-md-3 img-div">
            <img src="{{url_for('images', filename=image_result)}} " width="250"/>
        </div>
      </div>
    {% endif %}
    <br />
    {% if matching_result %}
      <div class="row">
        <div class="col-xs-6 col-md-3 img-div">
            <img src="{{url_for('images', filename=matching_result)}}" width="250"/>
        </div>
      </div>
    {% endif %}




</div>
{% endblock %}
